.chat-wrapper {
    margin: 0 1em;
    border: 1px solid #333;
    flex-grow: 1;
}

.chat-container {
    width: 100%;
    overflow-y: scroll;
}

.message-wrapper {
    display: flex;
    padding: 1em 0.5em;
}

.message-wrapper h4 {
    margin-right: 0.5em;
}